@media (max-width: 992px) {
    .gw-navbar {
        background-color: rgba(43, 87, 163, 0.85) !important;
        height: 56px;
    }

    .gw-navbar--brand {
        width: 158px;
        margin: 0;
    }
    .gw-page--contactus {
        padding-top: 46px;
    }
    .gw-page--contactus .container {
        padding-left: 30px !important;
    }

    .navbar-collapse {
        position: fixed;
        right: -158px;
        width: 158px;
        transition: right 0.5s;
        top: 46px;
        background-color: rgba(43, 87, 163, 0.85);
        height: calc(100vh - 46px);
        padding: 20px;
        font-size: 16px;
    }
    .navbar-collapse.show {
        right: 0;
    }
    .navbar-collapse > div {
        flex-direction: column;
        height: 100%;;
    }
    .gw-navbar .navbar-nav .nav-item {
        padding: 4px;
        text-align: center;
    }
    .gw-navbar--languageswitcher {
        margin-top: auto;
        margin-bottom: 0;
    }
    .gw-navbar .navbar-nav .nav-item.active a::after {
        height: 2px;
    }

    .gw-corporate--timeline .container {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .gw-timeline--content .h3 {
        font-size: 20px;
    }
    /* .gw-timeline--content.text-left:before {

    } */
    .gw-background--whiz .h3,
    .gw-background--grid .h3 {
        font-size: 20px;
    }
    .gw-background--color img {
        width: 30px;
    }
    .gw-background--icospiral,
    .gw-background--icowhiz {
        left: -26%;
    }
    .gw-background--icowhiz img,
    .gw-background--icospiral img {
        width: 30px;
    }
    .gw-background--main .gw-main--logo {
        width: 78%;
    }

    .gw-ourvision--box img {
        width: 60%;
    }

    .gw-corporate--team .gw-team--node,
    .gw-corporate--team .gw-team--left > div:not(.group-parent),
    .gw-corporate--team .gw-team--right > div:not(.group-parent) {
        display: none;
    }

    .gw-main--box {
        /* transform: scale(1.8); */
        width: 85%
    }
    .gw-main--center {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .gw-main--group {
        width: 80%;
    }
    .gw-team--left {
        left: 0;
    }
    .gw-team--left .gw-left--group.group-parent {
        width: 100%;
        right: 0;
    }
    .gw-team--left .gw-left--group.group-parent img {
        width: 70%;
    }
    .gw-team--left .gw-left--group.group-parent {
        margin-top: -100%;
    }
    .gw-team--right {
        right: 0;
    }
    .gw-team--right .gw-right--group.group-parent {
        width: 100%;
        right: 0;
    }
    .gw-team--right .gw-right--group.group-parent img {
        width: 70%;
    }
    .gw-team--right .gw-right--group.group-parent {
        margin-top: -100%;
    }
    .gw-team--bottom {
        right: inherit;
        left: 50%;
    }
    .gw-team--bottom .gw-bottom--group.group-parent {
        width: 100%;
        right: 0;
    }
    .gw-team--bottom .gw-bottom--group.group-parent img {
        width: 70%;
    }
    .gw-team--bottom .gw-bottom--group.group-parent {
        margin-top: 50%;
    }
    /* .gw-main--center {
        transform: scale(0.8);
    }
    .gw-team--left {
        transform: scale(2.3);
        left: -8%;
    }
    .gw-team--left .gw-left--group.group-parent {
        margin-top: -42%;
    }
    .gw-team--right {
        transform: scale(2.3);
        right: -8%;
    }
    .gw-team--right .gw-right--group.group-parent {
        margin-top: -42%;
    }
    .gw-team--bottom .gw-bottom--group {
        transform: scale(2.3);

    } */
}


@media (max-width: 992px) and (min-width: 768px) {
    .gw-home--whizteam .gw-3whiz--group {
        width: 80%;
    }
    .gw-home-about--item {
        width: 100%;
    }
    .about-align-right .gw-home-about--left {
        left: 0;
        width: 40%;
    }
    .about-align-right .gw-home-about--right {
        right: 0;
        width: 40%;
    }
    .gw-home-about--item:not(:first-child) {
        margin-top: -30%;
    }

    .gw-home--product .col-md-7 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-align-left .gw-home-about--right {
        right: 0;
        width: 40%;
    }
    .about-align-left .gw-home-about--left {

        left: 0;
        width: 40%;
    }

    .gw-home-about--item .h1 {
        font-size: 26px;
    }

    .gw-home--about .container {
        margin-top: 55px;
    }
    .gw-home--about .fp-scroller::before {
        top: 55px;
    }
    .gw-contactus--map {
        margin-top: 55px;
    }

    .gw-jointeam--merge {
        left: 50%;
    }
    .gw-jointeam--merge .gw-main--center {
        width: 100%;
    }
}


@media (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .mouse {
        display: none;
    }

    .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .gw-home--product .container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .gw-home--product .fp-slidesNav {
        left: 5px !important;;
    }

    .h1 {
        font-size: 18px;
    }

    .h2 {
        font-size: 16px;
    }

    .gw-home-about--left,
    .gw-home-about--right {
        width: 30% !important;
    }

    .gw-home-about--img {
        width: 65%;
    }

    .about-align-right .gw-home-about--left {
        left: 0;
        /* right: 0; */
    }

    .about-align-right .gw-home-about--right {
        right: 0;
        /* left: 0; */
    }

    .about-align-right .gw-home-about--img {
        left: inherit;
    }

    .home-analytic .gw-home-about--left,
    .home-blockchain .gw-home-about--left,
    .home-ux .gw-home-about--left {
        left: inherit;
        right: 0;
        text-align: left !important;
    }

    .home-analytic .gw-home-about--right,
    .home-blockchain .gw-home-about--right,
    .home-ux .gw-home-about--right {
        right: inherit;
        left: 0;
        text-align: right !important;
    }

    .about-align-left .gw-home-about--img {
        right: inherit;
    }

    .about-align-left .gw-home-about--right {
        right: inherit;
        text-align: right !important;
    }

    .gw-home-about--item {
        width: 100%;
    }

    .gw-home-about--item:not(:first-child) {
        margin-top: -27%;
    }

    .about-align-left .gw-home-about--left {
        left: inherit;
        right: 0;
        text-align: left !important;
    }

    .gw-navbar {
        height: 46px;
    }
    .gw-navbar--brand {
        width: 130px;
    }
    .navbar-toggler {
        transform: scale(0.8);
        margin-top: -3px;
    }

    .gw-product--icon {
        width: 70px;
    }

    .gw-home--product .h1 {
        font-size: 24px;
    }

    .gw-home--product .gw-btn {
        height: 30px;
        padding: 0 2em;
        font-size: 14px;
    }

    .gw-home--product .isolar .zoomin-1 {
        /* height: 28vh; */
        /* width: auto; */
        width: 78%;
        margin-bottom: 5%;
    }
    .gw-home--product .isolarrt .zoomin-1 {
        height: 37vh;
        width: auto;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    
    .gw-home--product .isolarrt .zoomin-2 {
        /* width: 37%; */
        /* left: 7%; */
        width: 89%;
        left: -62%;
        top: 0;
    }
    .gw-home--product .isolarrt .zoomin-3 {
        /* width: 27%; */
        /* right: 18%; */
        width: 77%;
        right: -40%;
        
    }
    .gw-home--product .isolartm .zoomin-1 {
        /* height: 30vh; */
        height: 37vh;
        width: auto;
    }
    .gw-home--product .isolartm .zoomin-2 {
        width: 100%;
    left: -78%;
    }
    .gw-home--product .isolartm .zoomin-3 {
        width: 85%;
    right: -43%;
    }
    .gw-home--product .ienergy .zoomin-1 {
        height: 30vh;
        width: auto;
        margin-top: 14%;
    }
    .gw-home--product .ienergy .zoomin-2 {
        /* width: 26%; */
        width: 40%;
        top: 4%;
    }
    .gw-home--product .ienergy .zoomin-3 {
        top: -4%;
        width: 48%;
        right: -21%;
    }

    .gw-home--product .ihomewhiz .zoomin-1 {
        height: 39vh;
        /* width: auto; */
        /* width: 50%; */
        margin-top: 0;
    }

    .gw-home--product .pumpcharge .zoomin-1 {
        height: 36vh;
        width: auto;
        margin-top: 5%;
        left: 0;
    }
    
    .gw-home--product .pumpcharge .zoomin-2 {
        /* right: 6%; */
        right: -65%;
    width: 94%;
    }
    
    .gw-home--product .pumpcharge .zoomin-3 {
        /* width: 32%; */
        /* left: 10%; */
        width: 76%;
        left: -48%;
    }

    .gw-footer {
        font-size: 10px;
    }

    .gw-product--client img {
        max-width: 35%;
    }

    .gw-client--group1 img {
        max-width: 20%;
    }

    .gw-home--group .gw-contactus--map {
        margin-top: 46px;
    }

    .gw-contactus--map + .py-5.bg-light {
        padding-left: 14px;
    }

    .gw-home--3whiz .gw-3whiz--group,
    .gw-home--whizteam .gw-3whiz--group {
        width: 100%;
        height: 46vh;
    }

    .gw-home--3whiz .gw-3whiz--top img, .gw-home--3whiz .gw-3whiz--left img, .gw-home--3whiz .gw-3whiz--right img,
    .gw-home--whizteam .gw-3whiz--top img, .gw-home--whizteam .gw-3whiz--left img, .gw-home--whizteam .gw-3whiz--right img {
        min-width: 16vh;
        max-width: 16vh;
    }
    .gw-home--3whiz .gw-3whiz--triangle {
        width: 80%;
    }
    .gw-home--3whiz .gw-3whiz--triangle img {
        width: 100%;
    }

    .gw-whizteam--aura img {
        width: 100%;
    }
    .gw-whizteam--whiz img {
        width: 68%;
    }
    .gw-whizteam--text {
        right: 0;
        bottom: -10%;
    }

    .gw-service--group .gw-service--img {
        padding: 4px;
    }

    .gw-page--events {
        font-size: 14px;
    }


    .gw-jointeam--merge {
        width: 100%;
    }
    .gw-jointeam-merge--right  {
        font-size: 12px;
        right: inherit;
        top: 110%;
        width: 43%;
        left: 0;
    }
    .gw-jointeam-merge--left {
        font-size: 12px;
        left: initial;
        top: 110%;
        width: 43%;
        right: 0;
    }
    .gw-jointeam-merge--no {
        font-size: 22px;
    }
    .gw-jointeam--merge::before {
        position: fixed;
        top: -150%;
    }

    @keyframes showLineJointeam {
        from {
            height: 0;
        }
    
        to {
            height: 100vh;
        }
    }


    .gw-mou--heading span {
        font-size: 60px;
    }
    .gw-mou--box::before {
        position: fixed;
        top: 0;
    }
    @keyframes showLineMOU {
        from {
            height: 0;
        }
    
        to {
            height: 100vh;
        }
    }
    .gw-mou--box::after {
        display: none;
    }

    .gw-ourvision--box::before {
        position: fixed;
        top: 0;
        margin-top: 0;
    }

    .gw-corporate--ourvision.active .gw-ourvision--box::before {
        animation: showLineOurvision 0.7s linear 0s forwards;
        -webkit-animation: showLineOurvision 0.7s linear 0s forwards;
    }
    @keyframes showLineOurvision {
        from {
            height: 0;
        }
    
        to {
            height: 100vh;
        }
    }

    .gw-ourvision--box .h1 {
        font-size: 22px;
    }

    .gw-background--whiz {
        margin-top: 40px;
    }

    .gw-background--main::before {
        top: -100%;
        position: fixed;
        margin-top: 0;
        bottom: inherit;
    }

    .gw-corporate--background.active .gw-background--main::before {
        animation: showLineOurvision 0.7s linear 0s forwards;
        -webkit-animation: showLineOurvision 0.7s linear 0s forwards;
    }

    .gw-timeline--col:not(.show-pre) {
        margin-bottom: -20%;
    }

    .gw-timeline--col:not(.show-pre) .gw-timeline--content.text-left:before {
        /* margin-bottom: 55px; */
    }
    .gw-timeline--col .gw-timeline--content:before {
        margin-bottom: 0 !important;
    }
    .gw-timeline--content.text-right:before {
        /* margin-bottom: 0; */
    }
    .gw-timeline--col .gw-timeline--content:before {
        margin-bottom: 0;
        bottom: 34%
    }
    .gw-corporate--timeline.active .gw-timeline--col:not(.show-pre) .gw-timeline--content:before {

        /* animation: showLineTimeline 0.5s linear 2s forwards !important;
        -webkit-animation: showLineTimeline 0.5s linear 2s forwards !important; */
        animation-name: showLineTimeline !important;
        -webkit-animation-name: showLineTimeline;
    }
    .gw-corporate--timeline.active .gw-timeline--col.show-pre .gw-timeline--content:before {
        bottom: -34%;
        animation: showLinePre 0.5s linear 2s forwards !important;
        -webkit-animation: showLinePre 0.5s linear 2s forwards !important;
    }
    /* .gw-timeline--col.show-2 .gw-timeline--content:before {

        bottom: 34%
    } */

    @keyframes showLineTimeline {
        from {
            height: 0;
        }
    
        to {
            height: calc(100% - 34% - 1rem);
            /* height: 100%; */
        }
    }

    @keyframes showLinePre {
        from {
            height: 0;
        }
    
        to {
            height: calc(100%);
            /* height: 100%; */
        }
    }

    .gw-events--item img {
        opacity: 1;
    }
    .gw-events--info {
        bottom: 0;
        opacity: 1;
    }

    .gw-eventdetail--slideraction {
        overflow: auto;
    }
    .gw-eventdetail--slideraction .row > div {
        flex: 0 0 28%;
        max-width: 28%;
    }

    .gw-page--service .fp-tableCell > .row {
        padding: 0 30px;
    }

    .gw-page--service .fp-slidesNav.fp-bottom {
        bottom: 34px;
    }
    

    .gw-timeline--bullet {
        width: 16px;
        height: 16px;
    }

    .gw-page--home .gw-product--client img {
        max-width: 40% !important;
    }

    .gw-home-about--left, .gw-home-about--right {
        width: 26% !important;
    }



    .gw-home--whizteam .gw-whizteam--title {
        width: 100%;
        top: 15%;
    }
    .gw-home--whizteam .gw-whizteam--title br {
        display: none;
    }
    .gw-home--whizteam .gw-whizteam--text {
        width: 100%;
        bottom: 15%;
        padding: 0 10px;
    }



    .gw-corporate--ourvision #vision {
        width: 60%;
    }

    .gw-timeline--content {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    
    .gw-footer {
        font-size: 8px;
    }
    .gw-product--icon {
        width: 50px;
    }
    .gw-home--product .h1 {
        font-size: 20px;
        margin-top: 5px !important; 
        margin-bottom: 5px !important;
    }
    .gw-home--product .h2 {
        font-size: 14px;
        margin-bottom: 5px !important;
    }
    .gw-home--product .h2 + div {
        margin-bottom: 10px !important;
    }
    .gw-home--product .isolarrt .zoomin-1 {
        height: 34vh;
        margin-top: 14%;
    }

    .gw-home--product .pumpcharge .zoomin-1 {
        height: 34vh;
    }


    .gw-page--service {
        font-size: 10px;
    }
    .gw-page--service .h1 {
        font-size: 16px;
    }
}
