@import url('https://fonts.googleapis.com/css?family=Prompt:400,500,600|Roboto:400,500,700&display=swap');

:root {
    --primary-color: #2B57A3;
    /* --primary-hover-color: #2B57A3; */
    --secondary-color: rgba(74, 74, 74, 0.6);
    --tertiary-color: #F5891F;
    --quaternary-color: #FFAB48;
    --white-color: #FFFFFF;
    /* --secondary-font: 'Roboto'; */
    --input-border: 1px solid #E8E8E8;
    --input-bg: #FCFCFC;
    --input-height: 43px;
    --textarea-min-height: 113px;
    --input-padding: 12px;
    --input-focus-boxshadow: 0 0 0 0.2rem rgba(44, 86, 163, .25);
    --btn-height: 40px;
    --border-radius: 4px;
    --btn-font-size: 16px;
    --navbar-height: 69px;
    --navbar-font-size: 20px;
    --navbar-font-color: rgba(255, 255, 255, 0.6);
    --navbar-font-color-active: rgba(255, 255, 255, 1);
    --font-size-body: 16px;
    --font-size-small: 14px;
    --event-info-bg: rgba(0, 46, 127, .8);
    --overlay-modal: rgba(0, 0, 0, 0.6);
}

body {
    /* background-color: black; */
    /* background-image: url(../asset/spider-01.svg); */
    /* background-position: center; */
    min-height: 100vh;
    /* background-size: cover; */
    /* font-family: Helvetica Neue, 'Roboto', sans-serif; */
    font-family: 'Roboto', 'Prompt', sans-serif;
    font-size: var(--font-size-body);
    color: #4A4A4A;
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed !important;
}

:focus {
    outline: none !important;
}


/* -------------------------------------------- */
.fullpage-wrapper {
    width: 100%!important;
    transform: none!important;
    }
.section,
.fp-section {
    width: 100% !important;
    position: absolute !important;
    left: 50%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);
    /* display: none !important; */
}

.fp-section.active {
    visibility: visible;
    opacity: 1;
    /* display: table !important; */
}

.fp-slidesContainer {
    /* width: 100% !important; */
    transform: none !important;
}

.fp-slide {
    /* width: 100% !important; */
    /* position: absolute !important;
    left: 0;
    top: 0; */
    /* visibility: hidden; */
    display: none !important;
    /* opacity: 0; */
}

.fp-slide.active {
    /* visibility: visible; */
    display: table !important;
    /* opacity: 1; */
}

/* .fp-slide {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
} */

/* .fp-section {
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
} */

/* -------------------------------------------- */

.gw-page--events {
    background: rgb(47, 165, 221);
    background: radial-gradient(circle, rgba(47, 165, 221, 1) 0%, rgba(43, 80, 157, 1) 100%);
    /* background-image: url(../asset/spider-01.svg);
	background-size: cover;
	background-attachment: fixed; */
}

/* body::before {
	content: '';
	background-image: url(../asset/spider-01-01.svg);
	position: fixed;
	width: 30%;
	height: 100vh;
	background-size: cover;
	top: 0;
	left: 0;
	z-index: -1;
	animation: blink 2s steps(5, start) 1s infinite;
	-webkit-animation: blink 2s steps(5, start) 1s infinite;
}
body::after {
	content: '';
	background-image: url(../asset/spider-01-02.svg);
	position: fixed;
	width: 30%;
	height: 100vh;
	background-size: cover;
	top: 0;
	right: 0;
	z-index: -1;
	animation: blink 2s steps(5, start) 2s infinite;
	-webkit-animation: blink 2s steps(5, start) 2s infinite;
} */

/* .blink {
	animation: blink-animation 1s steps(5, start) infinite;
	-webkit-animation: blink-animation 1s steps(5, start) infinite;
} */

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.h1,
h1 {
    font-size: 32px;
    font-weight: 700;
}

.h2,
h2 {
    font-size: 20px;
    font-weight: 700;
}

.h3,
h3 {
    font-size: 24px;
    font-weight: 700;
}

.font-weight-med {
    font-weight: 500 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-tertiary {
    color: var(--tertiary-color) !important;
}

.text-quaternary {
    color: var(--quaternary-color) !important;
}

.text-white {
    color: var(--white-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-size-small {
    font-size: var(--font-size-small);
}

.opacity-01 {
    opacity: 0.1;
}

.opacity-02 {
    opacity: 0.2;
}

.opacity-03 {
    opacity: 0.3;
}

.opacity-04 {
    opacity: 0.4;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-06 {
    opacity: 0.6;
}

.opacity-07 {
    opacity: 0.17;
}

.opacity-08 {
    opacity: 0.8;
}

.opacity-09 {
    opacity: 0.9;
}

.container {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

input[type="text"].form-control {
    border: var(--input-border);
    background-color: var(--input-bg);
    font-family: var(--secondary-font);
    height: var(--input-height);
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

textarea.form-control {
    border: var(--input-border);
    background-color: var(--input-bg);
    font-family: var(--secondary-font);
    min-height: var(--textarea-min-height);
    padding: var(--input-padding);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.form-control:focus {
    border-color: var(--primary-color) !important;
    box-shadow: var(--input-focus-boxshadow);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(43, 87, 163, 0.9) !important
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(43, 87, 163, 0.9) !important
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(43, 87, 163, 0.9) !important
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(43, 87, 163, 0.9) !important
}

.gw-btn {
    padding: 0 3em;
    height: var(--btn-height);
    border: 0;
    font-size: var(--btn-font-size);
    font-family: var(--secondary-font);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    text-decoration: none !important;
}

.gw-btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color) !important;
}

.gw-btn--primary:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.gw-btn--tertiary {
    background-color: var(--tertiary-color);
    color: var(--white-color) !important;
}

.gw-btn--tertiary:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
}

.gw-navbar {
    /*background-color: var(--primary-color) !important;
	*/
    z-index: 9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    font-size: var(--navbar-font-size);
    font-family: var(--secondary-font);
    padding: 0;
    font-weight: 500;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.fp-viewing-3 .gw-navbar,
.fp-viewing-5 .gw-navbar,
.fp-viewing-6 .gw-navbar,
.gw-page--product .gw-navbar,
.gw-page--corporate:not(.fp-viewing-0) .gw-navbar {
    background-color: rgba(43, 87, 163, .85) !important;
}

.gw-page--contactus .gw-navbar {
    background-color: var(--primary-color) !important;

}

.gw-navbar--languageswitcher {
    padding: 0 5px 0 3px;
    margin-bottom: 8px;
    height: 20px;
    background-color: rgba(255, 255, 255, .8);
    border: 0;
    border-radius: 10px;
    font-size: 14px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.gw-navbar--languageswitcher img {
    width: 14px;
}

.gw-navbar.is-active {
    background-color: rgba(43, 87, 163, .85);
}

.gw-navbar .container {
    max-width: inherit;
}

.gw-navbar a {
    color: var(--navbar-font-color);
}

.gw-navbar--brand {
    width: 210px;
    overflow: hidden;
    position: relative;
    margin-bottom: -10px;
}

.gw-navbar--brand .gw-brand--bg {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.2));
}

.gw-navbar--brand .gw-brand--logo {
    width: 62%;
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gw-navbar .navbar-nav {
    /* margin: 0 -25px; */
}

.gw-navbar .navbar-nav .nav-item {
    padding: 8px 25px;
    padding-top: 0;
    position: relative;
}

.gw-navbar .navbar-nav .nav-item.active a {
    color: var(--navbar-font-color-active);
}

.gw-navbar .navbar-nav .nav-item.active a::after {
    content: '';
    width: 70%;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: var(--navbar-font-color-active);
}

.gw-navbar .navbar-nav a {
    padding: 0 !important;
}

.gw-page--home .gw-footer,
.gw-page--corporate:not(.fp-viewing-0) .gw-footer {
    display: none;
}

.gw-dropdown-languageswitcher .dropdown-menu {
    right: 0 !important;
    left: inherit !important;
    width: auto;
    min-width: inherit;
    background-color: transparent;
    padding: 0;
    border: 0;
}
.gw-dropdown-languageswitcher .dropdown-menu a {
    color: #333333;
    margin: 0;
    font-weight: 300;
    text-decoration: none;
}
.gw-dropdown-languageswitcher .dropdown-toggle::after {
    display: none;
}

.gw-page--home.fp-viewing-6 .gw-footer,
.gw-page--product.fp-viewing-1 .gw-footer,
.gw-page--corporate.fp-viewing-7 .gw-footer {
    display: block;
    background-color: #2B57A3;
    z-index: 1;
}
.gw-footer {
    color: rgba(255, 255, 255, 0.4);
}
.gw-page--product .gw-footer {
    display: block;
}

/* .gw-contactus--map {
	overflow: hidden;
	padding-top: 30%;
	height: 300px;
	position: relative;
}
.gw-contactus--map iframe{
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
} */

.gw-contactus--map {
    position: relative;
}

.gw-contactus--map .container {
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-contactus--map .container::before {
    content: '';
    width: 3px;
    height: 0;
    left: 30px;
    animation-name: showLine;
    background-color: var(--primary-color);
    position: absolute;
    z-index: 1;
    animation: showLineMap 1s linear 1.5s forwards;
    -webkit-animation: showLineMap 1s linear 1.5s forwards;
}

.gw-contactus--map .container::after {
    content: '';
    position: absolute;
    left: 19px;
    display: block;
    visibility: hidden;
    z-index: 1;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: showDotMap 1s linear 1s forwards;
    -webkit-animation: showDotMap 1s linear 1s forwards;
}

@keyframes showLineMap {
    from {
        height: 0;
    }

    to {
        height: calc(300px + 3rem);
    }
}

@keyframes showDotMap {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.gw-contactus--item {
    position: relative;
    color: var(--secondary-color);
}

.gw-contactus--item::before {
    content: '';
    width: 3px;
    height: 0;
    left: 0;
    animation-name: showLine;
    background-color: var(--primary-color);
    position: absolute;
}

.gw-contactus--item.item-1::before {
    animation: showLine 1s linear 3s forwards;
    -webkit-animation: showLine 1s linear 3s forwards;
}

.gw-contactus--item.item-2::before {
    animation: showLine 1s linear 4.3s forwards;
    -webkit-animation: showLine 1s linear 4.3s forwards;
}

.gw-contactus--item.item-3::before {
    display: none;
}

.gw-contactus--spiral {
    position: absolute;
    top: -7px;
    left: -21px;
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.gw-contactus--item.item-1 .gw-contactus--spiral {
    animation: scaleSpiral 3s linear 2.8s infinite;
    -webkit-animation: scaleSpiral 3s linear 2.8s infinite;
}

.gw-contactus--item.item-2 .gw-contactus--spiral {
    animation: scaleSpiral 3s linear 4.2s infinite;
    -webkit-animation: scaleSpiral 3s linear 4.2s infinite;
}

.gw-contactus--item.item-3 .gw-contactus--spiral {
    animation: scaleSpiral 3s linear 5.6s infinite;
    -webkit-animation: scaleSpiral 3s linear 5.6s infinite;
}

@keyframes showLine {
    from {
        height: 0;
    }

    to {
        height: 100%;
    }
}

@keyframes scaleSpiral {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
}

.gw-contactus--social {
    background-color: var(--primary-color);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gw-events--group {
    margin: 0 -3px;
}

.gw-events--group>div {
    padding: 3px;
}

.gw-events--item {
    position: relative;
    overflow: hidden;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
}

.gw-events--item img {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gw-events--info {
    background-color: var(--event-info-bg);
    position: absolute;
    bottom: -100%;
    opacity: 0;
    max-height: 100%;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gw-events--item:hover .gw-events--info {
    bottom: 0;
    opacity: 1;
}

.gw-events--item:hover img {
    opacity: 1;
}

.modal {
    display: block;
    visibility: hidden;
    overflow-y: hidden;
}

.modal.show {
    visibility: visible;
}

.modal-dialog {
    max-width: 1170px;
    padding: 0 30px;
    margin: 0 auto;
}

.modal-content {
    border: 0;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}

.modal-backdrop {
    background-color: var(--overlay-modal)
}

.modal .close {
    text-shadow: none;
    color: var(--white-color);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-size: 14px;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1;
    width: 38px;
    height: 38px;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: rgba(74, 74, 74, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.slick-prev {
    left: 8px;
}

.slick-next {
    right: 8px;
}

.slick-arrow i {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.slick-arrow:hover i {
    opacity: 1;
}

.gw-eventdetail--slideraction .row {
    margin: 0 -5px;
}

.gw-eventdetail--slideraction .row>div {
    padding: 5px;
}

.gw-eventdetail--slideraction img {
    cursor: pointer;
    /* transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s; */
    background-color: var(--white-color)
}

.gw-eventdetail--slideraction img:hover {
    opacity: 1;
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    /* padding: 15px; */
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity, filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent
}

.hamburger[aria-expanded="true"]:hover,
.hamburger:hover {
    opacity: .7
}

.hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger[aria-expanded="true"] .hamburger-inner:after,
.hamburger[aria-expanded="true"] .hamburger-inner:before {
    background-color: #fff
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-delay: .13s;
    transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-duration: .13s
}

.hamburger--collapse .hamburger-inner:after {
    top: -20px;
    transition: top .2s cubic-bezier(.33333, .66667, .66667, 1) .2s, opacity .1s linear
}

.hamburger--collapse .hamburger-inner:before {
    transition: top .12s cubic-bezier(.33333, .66667, .66667, 1) .2s, transform .13s cubic-bezier(.55, .055, .675, .19)
}

.hamburger--collapse[aria-expanded="true"] .hamburger-inner {
    transition-delay: .22s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translate3d(0, -10px, 0) rotate(-45deg)
}

.hamburger--collapse[aria-expanded="true"] .hamburger-inner:after {
    top: 0;
    transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), opacity .1s linear .22s;
    opacity: 0
}

.hamburger--collapse[aria-expanded="true"] .hamburger-inner:before {
    top: 0;
    transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
    transform: rotate(-90deg);
    -webkit-transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
    -moz-transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
    -ms-transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
    -o-transition: top .1s cubic-bezier(.33333, 0, .66667, .33333) .16s, transform .13s cubic-bezier(.215, .61, .355, 1) .25s;
}

.gw-service--group .fp-slidesNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gw-service--group .fp-slidesNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gw-service--group .fp-slidesNav ul li {
    width: auto;
    height: auto;
    margin: 0 5px;
    line-height: normal;
    position: relative;
    /* display: flex;
	align-items: center; */
}

.gw-service--group .fp-slidesNav a {
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
}

.gw-service--group .fp-slidesNav a::before {
    content: '\e903';
    font-family: 'gwic';
    font-size: 15px;
    color: var(--white-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.gw-service--group .fp-slidesNav a.active::before {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.gw-service--group .fp-slidesNav a.active span {
    /*display: none;
	*/
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale();
    -moz-transform: translate(-50%, -50%) scale();
    -ms-transform: translate(-50%, -50%) scale();
    -o-transform: translate(-50%, -50%) scale();
}

.gw-service--group .fp-slidesNav a span {
    width: 8px !important;
    height: 8px !important;
    margin: 0 !important;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gw-service--group .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
}

.gw-service--group .slide {
    width: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.gw-service--group .slide.active {
    visibility: visible;
    opacity: 1;
}

.gw-service--group .slide .animated {
    opacity: 0;
}

.gw-service--group .slide.active .fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.gw-service--group .slide.active .fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.gw-service--group .fp-slides {
    overflow: inherit;
}

.gw-service--group .gw-service--img {
    background-color: rgba(255, 255, 255, .2);
    padding: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gw-service--group .gw-service--img img {
    background-color: var(--white-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gw-service--line {
    width: 100vw;
    height: 2px;
    background-color: #FFAB48;
    position: absolute;
    transform: scaleX(-50%);
    -webkit-transform: scaleX(-50%);
    -moz-transform: scaleX(-50%);
    -ms-transform: scaleX(-50%);
    -o-transform: scaleX(-50%);
}

.gw-service--line.line-left {
    right: 55%;
}

.gw-service--line.line-right {
    left: 55%;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #b61924; */
    background: rgb(47, 165, 221);
    background: radial-gradient(circle, rgba(47, 165, 221, 1) 0%, rgba(43, 80, 157, 1) 100%);
    /* background-image: url(""); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    z-index: -1;
    top: 0;
}

.fp-viewing-0 .mouse {
    display: flex;
}

.mouse {
    /* margin: 50px auto; */
    width: auto;
    position: fixed;
    z-index: 2;
    right: 40px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.mouse-icon {
    width: 22px;
    height: 32px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.mouse-wheel {
    height: 6px;
    margin: 2px auto 0;
    display: block;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.1s ease infinite wheel-up-down;
    -moz-animation: 1.1s ease infinite wheel-up-down;
    animation: 1.1s ease infinite wheel-up-down;
}

.mouse i {
    font-size: 8px;
    color: var(--white-color);
}

@-webkit-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 10px;
        opacity: 0;
    }
}

@-moz-keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 10px;
        opacity: 0;
    }
}

@keyframes wheel-up-down {
    0% {
        margin-top: 2px;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        margin-top: 10px;
        opacity: 0;
    }
}

.gw-corporate--group .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
}

.gw-corporate--group .section {
    width: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.gw-corporate--group .section.active {
    opacity: 1;
    visibility: visible;
}

.gw-timeline--col {
    position: inherit;
}

.gw-timeline--bullet {
    width: 22px;
    height: 22px;
    background-color: var(--white-color);
    position: absolute;
    margin-top: 4px;
    left: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-timeline--content {
    position: relative;
}

/* .gw-timeline--content:before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
}

.gw-corporate--timeline.active .gw-timeline--col.show-1 .gw-timeline--content:before {
    animation: showLine 0.5s linear 0.5s forwards;
    -webkit-animation: showLine 0.5s linear 0.5s forwards;
}

.gw-corporate--timeline.active .gw-timeline--col.show-2 .gw-timeline--content:before {
    animation: showLine 0.5s linear 1s forwards;
    -webkit-animation: showLine 0.5s linear 1s forwards;
}

.gw-corporate--timeline.active .gw-timeline--col.show-3 .gw-timeline--content:before {
    animation: showLine 0.5s linear 1.5s forwards;
    -webkit-animation: showLine 0.5s linear 1.5s forwards;
}

.gw-corporate--timeline.active .gw-timeline--col.show-pre .gw-timeline--content:before {
    animation: showLine 0.5s linear 2s forwards;
    -webkit-animation: showLine 0.5s linear 2s forwards;
} */

.gw-corporate--timeline.active .gw-timeline--col.show-pre .gw-timeline--bullet {
    margin-top: 10px;
    width: 12px;
    height: 12px;
    /* animation: showBullet 0.5s linear 2s forwards;
    -webkit-animation: showBullet 0.5s linear 2s forwards; */
}

/* @keyframes showBullet {
    0% {
        margin-top: 60px;
    }

    100% {
        margin-top: 10px;
    }
} */

.gw-timeline--content.text-left:before {
    left: 0;
    bottom: 0;
    margin-left: -16px;
    margin-bottom: -13px;
}

.gw-timeline--content.text-right:before {
    right: 0;
    bottom: 0;
    margin-right: -16px;
    margin-bottom: -13px;
}

.gw-timeline--content.no-line::before {
    visibility: hidden;
}

.gw-timeline--logo {
    width: 345px;
    animation: test 1s linear 0s forwards;
    -webkit-animation: test 1s linear 0s forwards;
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
}

@keyframes test {
    0% {
        /* opacity: 0; */
        /* margin-top: 50%; */
    }

    100% {
        width: 190px;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.gw-background--main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* .gw-background--main::before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: 95%;
}

.gw-corporate--background.active .gw-background--main::before {
    animation: showLine 0.7s linear 1s forwards;
    -webkit-animation: showLine 0.7s linear 1s forwards;
}

.gw-background--main::after {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: 35%;
}

.gw-corporate--background.active .gw-background--main::after {
    animation: showLine 0.7s linear 2s forwards;
    -webkit-animation: showLine 0.7s linear 2s forwards;
} */

/* .gw-background--bullet {
    width: 16px;
    height: 16px;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--background.active .gw-background--bullet {
    animation: showBulletBackground 0.7s linear 2s forwards;
    -webkit-animation: showBulletBackground 0.7s linear 2s forwards;
} */

@keyframes showBulletBackground {
    0% {
        top: 0;
    }

    100% {
        top: 135%;
    }
}

.gw-background--main .gw-main--logo {
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gw-background--grid {
    position: absolute;
    top: 100%;
    left: -53%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-background--whiz {
    position: absolute;
    top: 100%;
    left: 53%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-background--icowhiz {
    position: absolute;
    top: 25%;
    left: -58%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-background--icospiral {
    position: absolute;
    top: 60%;
    left: -58%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-background--color {
    position: absolute;
    top: 12%;
    left: 108%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--background.active .fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-delay: 1.5s;
}

.gw-corporate--background.active .fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-delay: 1.5s;
}

/* .gw-ourvision--box::before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    top: -50%;
    margin-top: 70px;
}

.gw-ourvision--box .animated {
    opacity: 0;
}

.gw-corporate--ourvision.active .gw-ourvision--box::before {
    animation: showLine 0.7s linear 0s forwards;
    -webkit-animation: showLine 0.7s linear 0s forwards;
} */

.gw-corporate--ourvision #vision {
    width: 280px;
    margin-bottom: 30px;
}


.gw-corporate--ourvision.active .animated.zoom-in {
    /* animation: zoomIn 0.7s linear 1s forwards;
	-webkit-animation: zoomIn 0.7s linear 1s forwards; */
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-duration: 0.7s;
}

.gw-team--center {}

.gw-main--box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 34%;
    margin-top: -3.2%;
    /* height: 330px; */
    /* display: block;
	margin: 0 auto;
	position: relative; */
}

.gw-main--bg {
    /* width: 330px; */
}

/* .gw-main--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
	top: -50%;
} */

.gw-main--group {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gw-main--label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    margin-top: -40px;
}

.gw-team--left {
    width: 40%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    position: absolute;
}

.gw-team--right {
    width: 40%;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    position: absolute;
}

.gw-team--bottom {
    width: 40%;
    right: 50%;
    /* top: 50%; */
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    position: absolute;
}

.gw-left--group {
    position: absolute;
}

.gw-team--left .gw-left--group.group-parent {
    right: 17%;
    top: 0;
    margin-top: -52%;
    width: 26.5%;
}

.gw-team--left .group-child-1 {
    left: -7%;
    /* top: -150px; */
    margin-top: -45%;
    width: 18.5%;
}

.gw-team--left .group-child-2 {
    left: 20%;
    /* top: -61px; */
    margin-top: -21%;
    width: 21.2%;
}

.gw-team--left .group-child-3 {
    left: -4%;
    margin-top: 9%;
    width: 18.5%;
}

.gw-team--left .group-child-4 {
    left: 37%;
    margin-top: 21%;
    width: 21.2%;
}

.gw-right--group {
    position: absolute;
}

.gw-team--right .gw-right--group.group-parent {
    right: 56%;
    top: 0;
    margin-top: -52%;
    width: 26.5%;
}

.gw-team--right .group-child-1 {
    left: 89%;
    /* top: -150px; */
    margin-top: -45%;
    width: 18.5%;
}

.gw-team--right .group-child-2 {
    left: 58%;
    /* top: -61px; */
    margin-top: -21%;
    width: 21.2%;
}

.gw-team--right .group-child-3 {
    left: 87%;
    margin-top: 9%;
    width: 18.5%;
}

.gw-team--right .group-child-4 {
    left: 39%;
    margin-top: 21%;
    width: 21.2%;
}

.gw-team--node {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.gw-bottom--group {
    position: absolute;
}

.gw-team--bottom .gw-bottom--group.group-parent {
    right: -63%;
    top: 0;
    margin-top: 17%;
    width: 26.5%;
}

/* .gw-main--box::before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--team.active .gw-main--box::before {
    animation: showLine 0.8s linear 0.2s forwards;
    -webkit-animation: showLine 0.8s linear 0.2s forwards;
} */

.gw-corporate--team.active .fade-in-up-big {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    animation-delay: 0s;
}

.gw-corporate--team.active .gw-team--node {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.gw-corporate--team.active .gw-left--group,
.gw-corporate--team.active .gw-right--group,
.gw-corporate--team.active .gw-bottom--group {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.gw-team--bullet {
    width: 16px;
    height: 16px;
    background-color: var(--white-color);
    position: absolute;
    margin-top: -6px;
    left: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--jointeam.active .gw-team--group {

    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

.gw-corporate--jointeam.active .gw-team--left .gw-left--group.group-parent {
    /* animation: mergeFromLeft 0.3s linear 0s forwards;
    -webkit-animation: mergeFromLeft 0.3s linear 0s forwards; */
}

@keyframes mergeFromLeft {
    0% {
        right: 17%;
        margin-top: -52%;
    }

    100% {
        right: -13%;
        margin-top: -22%;
        opacity: 0;
    }
}

.gw-corporate--jointeam.active .gw-team--right .gw-right--group.group-parent {
    /* animation: mergeFromRight 0.3s linear 0s forwards;
    -webkit-animation: mergeFromRight 0.3s linear 0s forwards; */
}

@keyframes mergeFromRight {
    0% {
        right: 56%;
        margin-top: -52%;
    }

    100% {
        right: 87%;
        margin-top: -22%;
        opacity: 0;
    }
}

.gw-corporate--jointeam.active .gw-team--bottom .gw-bottom--group.group-parent {
    /* animation: mergeFromBottom 0.3s linear 0s forwards;
    -webkit-animation: mergeFromBottom 0.3s linear 0s forwards; */
}

@keyframes mergeFromBottom {
    0% {
        right: -63%;
        margin-top: 17%;
    }

    100% {
        right: -63%;
        margin-top: -21.5%;
        opacity: 0;
    }
}

.gw-jointeam--merge {
    left: 50%;
    /* margin-left: 50%; */
    transform: translateX(-50%);
    top: 30%;
    width: 30.5%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--jointeam.active .animated.zoom-in {
    /* animation: zoomIn 0.7s linear 1s forwards;
	-webkit-animation: zoomIn 0.7s linear 1s forwards; */
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}


.gw-jointeam-merge--left {
    font-size: 20px;
    position: absolute;
    top: 15%;
    left: 108%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-jointeam-merge--right {
    font-size: 20px;
    position: absolute;
    top: 15%;
    right: 108%;
    width: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--jointeam.active .fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-delay: 1.5s;
}

.gw-corporate--jointeam.active .fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    animation-delay: 1.5s;
}

.gw-jointeam-merge--no {
    font-size: 50px;
    margin-bottom: -8px;
}

.gw-jointeam--noted {
    position: absolute;
    bottom: 40px;
}




.gw-jointeam--merge::before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    top: -120%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--jointeam.active .gw-jointeam--merge::before {
    animation: showLineJointeam 0.8s linear 0.2s forwards;
    -webkit-animation: showLineJointeam 0.8s linear 0.2s forwards;
}

@keyframes showLineJointeam {
    from {
        height: 0;
    }

    to {
        height: 120%;
    }
}


.gw-mou--heading {
    text-shadow: 0px 0px 6px #FFFFFF99;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.gw-mou--heading span {
    font-size: 140px;
}

.gw-mou--box {
    position: relative;
}

/* .gw-mou--box::before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--mou.active .gw-mou--box::before {
    animation: showLineMOU 0.8s linear 0.2s forwards;
    -webkit-animation: showLineMOU 0.8s linear 0.2s forwards;
}

@keyframes showLineMOU {
    from {
        height: 100%;
    }

    to {
        height: 200%;
    }
}

.gw-mou--box::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
} */

.gw-corporate--client .fp-tableCell {
    vertical-align: bottom;
}

.gw-corporate--group .section {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.bg-light {
    background-color: #fff !important;
}


.gw-client--box {
    min-height: 88vh;
}

.gw-client--box::before {
    content: '';
    height: 0;
    width: 2px;
    background-color: var(--white-color);
    position: absolute;
    top: -20vh;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.gw-corporate--client.active .gw-client--box {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.gw-corporate--client.active .gw-client--box::before {
    animation: showLineClient 0.8s linear 0.2s forwards;
    -webkit-animation: showLineClient 0.8s linear 0.2s forwards;
}

@keyframes showLineClient {
    from {
        height: 0;
    }

    to {
        height: 20vh;
    }
}

.gw-client--box::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--white-color);
    position: absolute;
    left: 50%;
    top: -6px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}




.gw-product--group .h1 {
    font-size: 42px;
}

.gw-product--group .gw-btn {
    height: 42px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.isolarrt .gw-btn {
    background-color: #F58A1F;
}

.isolarrt .h2 {
    color: #F58A1F !important;
}

.isolartm .gw-btn {
    background-color: #F58A1F;
}

.isolartm .h2 {
    color: #F58A1F !important;
}

.ienergy .gw-btn {
    background-color: #4C93ED;
}

.ienergy .h2 {
    color: #96C5FF !important;
}

.ihomewhiz .gw-btn {
    background-color: #FFAB48;
}

.ihomewhiz .h2 {
    color: #FFAB48 !important;
}

.ichargerwhiz .gw-btn {
    background-color: #3DABDC;
}

.ichargerwhiz .h2 {
    color: #FFAB48 !important;
}

.pumpcharge .gw-btn {
    background-color: #98D6DC;
}

.pumpcharge .h2 {
    color: #FF7676 !important;
}



.gw-product--group .fp-slidesNav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: inherit;
    left: 17px !important;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gw-product--group .fp-slidesNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gw-product--group .fp-slidesNav ul li {
    width: auto;
    height: auto;
    margin: 2px 0;
    line-height: normal;
    position: relative;
    /* display: flex;
	align-items: center; */
}

.gw-product--group .fp-slidesNav a {
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
}

.gw-product--group .fp-slidesNav a::before {
    content: '\e903';
    font-family: 'gwic';
    font-size: 15px;
    color: var(--white-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.gw-product--group .fp-slidesNav a.active::before {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.gw-product--group .fp-slidesNav a.active span {
    /*display: none;
	*/
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale();
    -moz-transform: translate(-50%, -50%) scale();
    -ms-transform: translate(-50%, -50%) scale();
    -o-transform: translate(-50%, -50%) scale();
}

.gw-product--group .fp-slidesNav a span {
    width: 8px !important;
    height: 8px !important;
    margin: 0 !important;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gw-product--group .fp-slidesNav li:last-child {
    /* display: none; */
}

.gw-product--group .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
}

.gw-product--group .slide {
    width: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.gw-product--group .slide.active {
    visibility: visible;
    opacity: 1;
}

.gw-product--group .slide .animated {
    opacity: 0;
}

.gw-product--group .slide.active .fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.gw-product--group .slide.active .fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.gw-product--group .fp-slides {
    overflow: inherit;
}


#home-sec-1,
#home-2 {
    max-width: 80vh;
}

#home-sec-1-1 {
    /* width: 80% */
    max-width: 80vh;
    max-width: 70vh;
    /* display: block;
    transition: all 10s; */
    /* -webkit-animation: css-animation 0s ease-in 5s forwards;
    animation: css-animation 0s ease-in 5s forwards; */
}

.gw-home-mainsec--whiz {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#home-sec-1-2 {
    /* width: 80% */
    /* max-width: 75vh; */

    max-width: 70vh;
    /* display: block;
    transition: all 10s; */
    /* -webkit-animation: css-animation 0s ease-in 5s forwards;
    animation: css-animation 0s ease-in 5s forwards; */
}

.active #home-sec-1-1 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0s;
}

.active #home-sec-1-2 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 1s;
}

#home-sec-2-3whiz {
    /* max-height: 40vh;
    margin: 0 auto;
    max-width: 50vw; */
}
.active #home-sec-2-3whiz {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 1s;
}

#home-sec-3-3whiz {
    opacity: 0;
}

.active #home-sec-3-3whiz {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    opacity: 1;
}
#home-sec-1-4 {
    opacity: 0;
    position: absolute;
}
.active #home-sec-1-4 {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    opacity: 1;
}



.gw-home--3whiz .gw-3whiz--group {
    /* height: 60vh; */
    width: 55%;
    margin: 0 auto;
    position: relative;
}

.gw-home--3whiz .gw-3whiz--triangle {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.gw-home--3whiz.active .gw-3whiz--triangle img {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0s;
}

.gw-home--3whiz .gw-3whiz--top,
.gw-home--3whiz .gw-3whiz--left,
.gw-home--3whiz .gw-3whiz--right {
    z-index: 2;
}

.gw-home--3whiz .gw-3whiz--top img,
.gw-home--3whiz .gw-3whiz--left img,
.gw-home--3whiz .gw-3whiz--right img {
    min-width: 20vh;
    max-width: 20vh;
    /* position: absolute; */
}

.gw-home--3whiz .gw-3whiz--top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1);
    position: absolute;
}

.gw-home--3whiz.active .gw-3whiz--top {
    animation: expandFromTop 0.7s linear 0s forwards;
    -webkit-animation: expandFromTop 0.7s linear 0s forwards;
}

@keyframes expandFromTop {
    0% {
        top: 50%;
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }

    100% {
        top: 0%;
        bottom: 0;
        transform: translateX(-50%) scale(1);
    }
}

.gw-home--3whiz .gw-3whiz--left {
    bottom: 0;
    left: 0;
    position: absolute;
}

.gw-home--3whiz.active .gw-3whiz--left {
    animation: expandFromLeft 0.7s linear 0s forwards;
    -webkit-animation: expandFromLeft 0.7s linear 0s forwards;
}

@keyframes expandFromLeft {
    0% {
        left: 50%;
        bottom: 50%;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        left: 0%;
        bottom: 0;
        transform: scale(1);
    }
}

.gw-home--3whiz .gw-3whiz--right {
    bottom: 0;
    right: 0;
    position: absolute;
}

.gw-home--3whiz.active .gw-3whiz--right {
    animation: expandFromRight 0.7s linear 0s forwards;
    -webkit-animation: expandFromRight 0.7s linear 0s forwards;
}

@keyframes expandFromRight {
    0% {
        right: 50%;
        bottom: 50%;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        right: 0%;
        bottom: 0;
        transform: scale(1);
    }
}

.gw-3whiz--text {
    text-shadow: 0px 0px 6px #FFFFFF99;
}




/* .gw-home--whizteam {

} */
.gw-home--whizteam .gw-3whiz--group {
    height: 60vh;
    width: 55%;
    margin: 0 auto;
    position: relative;
}

.gw-home--whizteam .gw-3whiz--top img,
.gw-home--whizteam .gw-3whiz--left img,
.gw-home--whizteam .gw-3whiz--right img {
    min-width: 20vh;
    /* position: absolute; */
}

.gw-home--whizteam .gw-3whiz--top {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    position: absolute;
}

.gw-home--whizteam.active .gw-3whiz--top {
    animation: mergeWhizFromTop 0.7s linear 0s forwards;
    -webkit-animation: mergeWhizFromTop 0.7s linear 0s forwards;
}

@keyframes mergeWhizFromTop {
    0% {
        top: 0%;
        transform: translateX(-50%) scale(1);
    }

    100% {
        top: 30%;
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
}

.gw-home--whizteam .gw-3whiz--left {
    left: 50%;
    bottom: 50%;
    /* opacity: 0; */
    transform: scale(0);
    position: absolute;
}

.gw-home--whizteam.active .gw-3whiz--left {
    animation: mergeWhizFromLeft 0.7s linear 0s forwards;
    -webkit-animation: mergeWhizFromLeft 0.7s linear 0s forwards;
}

@keyframes mergeWhizFromLeft {
    0% {
        left: 0%;
        bottom: 0;
        transform: scale(1);
    }

    100% {
        left: 30%;
        bottom: 30%;
        opacity: 0;
        transform: scale(0);
    }
}

.gw-home--whizteam .gw-3whiz--right {
    right: 30%;
    bottom: 30%;
    transform: scale(0);
    position: absolute;
}

.gw-home--whizteam.active .gw-3whiz--right {
    animation: mergeWhizFromRight 0.7s linear 0s forwards;
    -webkit-animation: mergeWhizFromRight 0.7s linear 0s forwards;
}

@keyframes mergeWhizFromRight {
    0% {
        right: 0%;
        bottom: 0;
        transform: scale(1);
    }

    100% {
        right: 30%;
        bottom: 30%;
        opacity: 0;
        transform: scale(0);
    }
}

.active .gw-whizteam--box {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-delay: 0.4s;
}

.gw-whizteam--aura {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.active .gw-whizteam--aura img {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}

.gw-whizteam--whiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.active .gw-whizteam--whiz img {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}

.gw-whizteam--title {
    position: absolute;
    top: 20%;
    left: 0;
    font-size: 38px;
    text-shadow: 0px 0px 6px #FFFFFF99;
}

.gw-whizteam--text {
    position: absolute;
    bottom: 10%;
    right: -10%;
    width: 40%;
}




.gw-page--home.fp-viewing-2 #particles-js {
    /* background-color: #fff; */
    /* opacity: 0; */
}

.gw-home--about h1 {
    font-size: 42px;
}

.gw-home--about .fp-scroller::before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 100px;

    background-color: #fff;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.gw-home--about.active .fp-scroller::before {

    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    animation-delay: 0s;
}

.gw-home--about .fp-scroller {
    /* margin-top: 100px; */
    /* transition: all 0.2s; */
}

.gw-home--about .container {
    margin-top: 100px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.gw-home--about.active .container {
    /* margin-top: 0px; */
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    animation-delay: .2s;
}

.gw-home--group {
    color: #fff;
}
.fp-controlArrow {
    display: none;
}
/* .gw-home--group .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
} */

/* .gw-home--group>.section {
    width: 100% !important;
    position: absolute !important;
    left: 50%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    transition: all 0.3s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.gw-home--group>.section.active {
    opacity: 1;
    visibility: visible;
} */

.gw-home-about--item {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.gw-home-about--item:not(:first-child) {
    margin-top: -10%;
}

.gw-home-about--left {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gw-home-about--right {
    position: absolute;
    width: 40%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gw-home-about--img {
    width: 70%;
    position: relative;
}

.about-align-right .gw-home-about--left {
    left: 20%;
}

.about-align-right .gw-home-about--right {
    width: 30%;
    right: -10%;
}

.about-align-right .gw-home-about--img {
    /* left: 10%; */
}

.about-align-left .gw-home-about--left {
    width: 35%;
    left: -15%;
    /* right: 0; */
}

.about-align-left .gw-home-about--right {
    width: 40%;
    right: 20%;
}

.about-align-left .gw-home-about--img {
    /* right: 10%; */
}




.gw-home--product .fp-slidesNav {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    width: 15px;
    right: 26px !important;
    left: initial !important;
    top: 50%;
    margin: inherit !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.gw-home--product .fp-slidesNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gw-home--product .fp-slidesNav ul li {
    width: auto;
    height: auto;
    margin: 2px 0;
    line-height: normal;
    position: relative;
    /* display: flex;
	align-items: center; */
}

.gw-home--product .fp-slidesNav a {
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
}

.gw-home--product .fp-slidesNav a::before {
    content: '\e903';
    font-family: 'gwic';
    font-size: 15px;
    color: var(--white-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.gw-home--product .fp-slidesNav a.active::before {
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.gw-home--product .fp-slidesNav a.active span {
    /*display: none;
	*/
    transform: translate(-50%, -50%) scale(0);
    -webkit-transform: translate(-50%, -50%) scale();
    -moz-transform: translate(-50%, -50%) scale();
    -ms-transform: translate(-50%, -50%) scale();
    -o-transform: translate(-50%, -50%) scale();
}

.gw-home--product .fp-slidesNav a span {
    width: 8px !important;
    height: 8px !important;
    margin: 0 !important;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.gw-home--product.active .active .gw-product--content {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-delay: 0.6s;
}

/* .gw-home--product .fp-slidesContainer {
    width: 100% !important;
    transform: none !important;
} */

/* .gw-home--product .slide {
    width: 100% !important;
    position: absolute !important;
    left: 0;
    top: 0;
    opacity: 0;
}

.gw-home--product .slide.active {
    opacity: 1;
}

.gw-home--product .slide .animated {
    opacity: 0;
} */

/* .gw-home--product.fp-completely .fade-in-right {
    opacity: 1;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.gw-home--product.fp-completely .fade-in-left {
    opacity: 1;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
} */

.gw-home--product .slide.active .fade-in-right {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.gw-home--product .slide.active .fade-in-left {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.gw-home--product .fp-slides {
    overflow: inherit;
}


.fp-viewing-5 .mouse {
    opacity: 0;
}


.gw-home--group .gw-contactus--map .container::after,
.gw-product--group .gw-contactus--map .container::after {
    top: -12px;
}

.gw-home--group .gw-contactus--map .container::before,
.gw-home--group .gw-contactus--item .gw-contactus--spiral,
.gw-home--group .gw-contactus--item::before,
.gw-product--group .gw-contactus--map .container::before,
.gw-product--group .gw-contactus--item .gw-contactus--spiral,
.gw-product--group .gw-contactus--item::before {
    animation: none;
    -webkit-animation: none;
}

.gw-home--group .section.active .gw-contactus--map .container::before,
.gw-product--group .section.active .gw-contactus--map .container::before {
    animation: showLineMap 1s linear 1.5s forwards;
    -webkit-animation: showLineMap 1s linear 1.5s forwards;
}

.gw-home--group .section.active .gw-contactus--item.item-1 .gw-contactus--spiral,
.gw-product--group .section.active .gw-contactus--item.item-1 .gw-contactus--spiral {
    animation: scaleSpiral 3s linear 2.8s infinite;
    -webkit-animation: scaleSpiral 3s linear 2.8s infinite;
}

.gw-home--group .section.active .gw-contactus--item.item-2 .gw-contactus--spiral,
.gw-product--group .section.active .gw-contactus--item.item-2 .gw-contactus--spiral {
    animation: scaleSpiral 3s linear 4.2s infinite;
    -webkit-animation: scaleSpiral 3s linear 4.2s infinite;
}

.gw-home--group .section.active .gw-contactus--item.item-3 .gw-contactus--spiral,
.gw-product--group .section.active .gw-contactus--item.item-3 .gw-contactus--spiral {
    animation: scaleSpiral 3s linear 5.6s infinite;
    -webkit-animation: scaleSpiral 3s linear 5.6s infinite;
}

.gw-home--group .section.active .gw-contactus--item.item-1::before,
.gw-product--group .section.active .gw-contactus--item.item-1::before {
    animation: showLine 1s linear 3s forwards;
    -webkit-animation: showLine 1s linear 3s forwards;
}

.gw-home--group .section.active .gw-contactus--item.item-2::before,
.gw-product--group .section.active .gw-contactus--item.item-2::before {
    animation: showLine 1s linear 4.3s forwards;
    -webkit-animation: showLine 1s linear 4.3s forwards;
}

.gw-home--group .section.active .gw-home--contactus,
.gw-product--group .section.active .gw-home--contactus {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
    animation-delay: 0s;
}
.gw-home--contactus {
    padding-top: 70px;
}
.gw-product--client {
    margin-top: 70px;
    color: #4F7AB9 !important;
}

.gw-home--product .gw-service--img img {
    position: absolute;
}

.gw-home--product .gw-btn {
    border-radius: 30px;
}

.gw-product--icon {
    width: 90px;
}

.gw-home--product .isolar .zoomin-1 {
    width: 65%;
    z-index: 2;
    margin-top: 6%;
    margin-bottom: 12%;
}

.gw-home--product .isolar .zoomin-2 {
    width: 47%;
    z-index: 2;
    right: 17%;
    bottom: 0%;
}

.gw-home--product .isolar .zoomin-3 {
    width: 45%;
    z-index: 1;
    right: 0%;
    top: 0%;
}

.gw-home--product .isolarrt .zoomin-1 {
    width: 40%;
    z-index: 2;
}

.gw-home--product .isolarrt .zoomin-2 {
    width: 40%;
    z-index: 1;
    left: 3%;
    top: -6%;
}

.gw-home--product .isolarrt .zoomin-3 {
    width: 33%;
    z-index: 3;
    right: 7%;
    bottom: -3%;
}


.gw-home--product .isolartm .zoomin-1 {
    width: 36%;
    z-index: 2;
    margin-top: 10%;
}

.gw-home--product .isolartm .zoomin-2 {
    width: 40%;
    z-index: 1;
    left: 3%;
    top: 6%;
}

.gw-home--product .isolartm .zoomin-3 {
    width: 37%;
    z-index: 3;
    right: 7%;
    bottom: -10%;
}

.gw-home--product .ienergy .zoomin-1 {
    width: 70%;
    z-index: 2;
    margin-top: 25%;
}

.gw-home--product .ienergy .zoomin-2 {
    width: 28%;
    z-index: 3;
    right: 39%;
    top: 17%
}

.gw-home--product .ienergy .zoomin-3 {
    width: 50%;
    z-index: 1;
    right: 0;
}

.gw-home--product .ihomewhiz .zoomin-1 {
    width: 38%;
    z-index: 2;
    margin-top: 6%;
}

.gw-home--product .ihomewhiz .zoomin-2 {
    width: 29%;
    z-index: 2;
    right: 8%;
    top: 24%;
}

.gw-home--product .ihomewhiz .zoomin-3 {
    width: 40%;
    z-index: 1;
    left: 2%;
    top: 0%;
}


.gw-home--product .pumpcharge .zoomin-1 {
    width: 38%;
    z-index: 2;
    left: -6%;
}

.gw-home--product .pumpcharge .zoomin-2 {
    width: 36%;
    z-index: 1;
    right: 8%;
    top: 0;
}

.gw-home--product .pumpcharge .zoomin-3 {
    width: 36%;
    z-index: 3;
    left: 3%;
    top: 5%;
}





.slide.active .gw-service--img .zoomin-1,
.slide.active .gw-service--img .zoomin-2,
.slide.active .gw-service--img .zoomin-3 {
    opacity: 1;
}

.active .slide.active .gw-service--img .zoomin-1 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0s;
}

.active .slide.active .gw-service--img .zoomin-2 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0.2s;
}

.active .slide.active .gw-service--img .zoomin-3 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}


.active .gw-product--client {

    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-delay: 0.3s;
}





.gw-timeline--group {
    /* position: relative; */
}

.gw-timeline--group .gw-timeline-group--line,
.gw-corporate--background .gw-corporate-background--line,
.gw-corporate-ourvision--line,
.gw-corporate-team--line,
.gw-corporate-jointeam--line,
.gw-corporate-mou--line {
    position: fixed;
    top: 0;
    /* height: 0; */
    width: 2px;
    background-color: #fff;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    /* transition: all 0.2s; */
}

.active .gw-timeline-group--line,
.active .gw-corporate-background--line,
.active .gw-corporate-ourvision--line,
.active .gw-corporate-team--line,
.active .gw-corporate-jointeam--line,
.active .gw-corporate-mou--line {
    animation: showLineVH 1s linear 0s forwards;
    -webkit-animation: showLineVH 1s linear 0s forwards;
}


@keyframes showLineVH {
    from {
        height: 0;
    }

    to {
        height: 100vh;
    }
}


@media (max-width: 767px) {
    .gw-corporate--about img {
        max-width: 250px;
        width: 80%;
    }
}

#fp-nav.fp-right {
    right: 0;
}

#fp-nav.fp-left {
    left: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    width: auto;
    height: auto;
}

#fp-nav .fp-sr-only {
    display: none;
}

#fp-nav ul li a {
    width: 12px;
    height: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#fp-nav ul li a.active {
    width: 12px;
    height: 50px;
}

#fp-nav ul li a span {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    border: 2px solid #2B57A3;
    top: inherit;
    left: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    width: 12px;
    height: 50px;
    margin: 0;
    border-radius: 10px;
}

#fp-nav ul li:hover a span {
    width: 12px;
    height: 12px;
    margin: 0;
}

#fp-nav ul li {
    margin: 10px 7px;
}




[class^="fp-viewing-4-"].gw-page--home #fp-nav, 
[class*=" fp-viewing-4-"].gw-page--home #fp-nav {
    opacity: 0.3;
}
.gw-page--home.fp-viewing-0 .h1 {
    font-size: 45px;
}
.gw-page--corporate .gw-team--node {
    width: 100%
}
.gw-right--group img,
.gw-left--group img,
.gw-bottom--group img  {
    transition: all 0.2s;
}
.gw-right--group img:hover,
.gw-left--group img:hover,
.gw-bottom--group img:hover {
    transform: scale(1.1);
}
.gw-timeline--content .h2 {
    font-style: 22px;
}
.gw-timeline--content {
    font-size: 18px;
}
