/* 2. Content center (Video or Image) */

.sena-btn .white_pdf {
    display: none;
    height: 70%;
}

.sena-btn .green_pdf {
    height: 70%;
}

.sena-btn:hover .white_pdf {
    display: block;
}

.sena-btn:hover .green_pdf {
    display: none;
}

.sena-content_center--img {
    max-width: 100%;
    margin: auto;
    transform: none !important;
    position: relative !important;
    left: 0 !important;
}

.sena-content_center--icon {
    max-width: 185px;
    transform: none !important;
}

.sena-content-center {
    background-size: cover;
    background-repeat: no-repeat;
}

/* 5. Box icon column */

.sena-box-icon-column img {
    width: 58px;
    height: 58px;
}

section[num_item="3"].sena-box-icon-column img {
    height: 80px;
    width: auto;
    max-height: unset;
    max-width: unset;
}

/* 6. 2 column img overlap */

.sena-column-img-overlap img {
    width: 70%;
    transition: .5s;
}

.sena-column-img-overlap_img {
    z-index: 2;
    left: 0;
    top: 0;
}

.sena-column-img-overlap_bg {
    z-index: 1;
    right: 0;
    bottom: 0;
}

.sena-column-img-overlap .row {
    min-height: 600px;
}

@media only screen and (min-width: 992px) {
    .sena-column-img-overlap > div > div:last-child {
        padding-left: 5rem !important;
    }
}

@media only screen and (max-width: 992px) {
    .sena-column-img-overlap .sena-column-img-overlap_imgwrap {
        min-height: 700px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .sena-column-img-overlap .sena-column-img-overlap_imgwrap {
        min-height: 700px;
        max-width: 500px;
    }
}

@media only screen and (max-width: 425px) {
    .sena-column-img-overlap .sena-column-img-overlap_imgwrap {
        min-height: 500px;
    }
}

@media only screen and (max-width: 375px) {
    .sena-column-img-overlap .sena-column-img-overlap_imgwrap {
        min-height: 400px;
    }
}

/* 7. Qoute Section */

.sena-qoute-section h2:before {
    content: "“";
    color: #32BBAC;
    font-size: 60px;
    line-height: 0;
    margin-right: 1rem !important;
    line-height: 0;
    position: absolute;
    left: -15px;
    top: 10px;
}

.sena-qoute-section h2:after {
    content: "”";
    color: #32BBAC;
    font-size: 60px;
    line-height: 0;
    margin-left: 1rem !important;
    line-height: 0;
    position: absolute;
    bottom: 15px;
}

@media only screen and (max-width: 576px) {
    .sena-qoute-section h2:before {
        left: -10px;
        top: 5px;    
    }
}

/* 7. Column card list */

.sena-column-card-list:not(:last-child) {
    border-bottom: 1px solid #DDDDDD;
}

.sena-column-card-list:not(:first-child) {
    padding-top: 35px;
}

.sena-column-card-list:last-child {
    padding-bottom: 0 !important;
}

.sena-column-card-list img {
    width: 50%;
}

@media only screen and (max-width: 576px) {
    .sena-column-card-list img {
        width: 80%;
    }
    .sena-column-card-list {
        padding: 0 20px;
    }
}

/* 11. Content 2 Cols - Card */

.sena-2col-card--logoimg {
    width: 40%;
    margin-top: 20px;
}

/* 12. Icon list view 2 cols */

.sena-icon-list-2col {
    padding: 40px 0;
    /* justify-content: space-evenly; */
}

.sena-sena-icon-list-2col_txtwrap {
    max-width: 190px;
}


#map {
    /* height: calc(100% - 179px); */
    height: 100%;
    width: 100%;  /* The width is the width of the web page */
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
}

.sena-map-tabwrap {
    position: absolute;
    z-index: 3;
    bottom: 180px;
    left: 0;
}

.google-map-img {
    padding-top: 30%;
    position: relative;

}

.google-map-img iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    .sena-map-tabwrap {
        bottom: 180px;
    }
}

@media only screen and (max-width: 780px) {
    .sena-map-tabwrap .sena-map-tab {
        padding: 15px 30px !important;
    }
    .sena-map-tabwrap {
        bottom: 179px;
    }
}

@media only screen and (max-width: 576px) {
    .sena-map-tabwrap {
        position: relative;
        bottom: 0;
    }
    .sena-map-tab {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 20px 0px !important;
    }
    .sena-map-tabwrap .row {
        max-width: unset !important;
    }
    .sena-map-graphicmap .ratio, .google-map-img {
        padding-top: 0;
    }
    .sena-map-graphicmap .ratio img, .google-map-img iframe{
        position: relative;
    }
    .google-map-img iframe {
        height: 450px;
        position: relative;
    }
    .google-map-img {
        min-height: 420px;
    }
}

.sena-map-tabwrap .row {
    max-width: 446px;
    max-height: 82px;
}

.sena-map-tab {
    padding: 20px 40px !important;
    background-color: #fff;
    cursor: pointer;
    transition: .3s;
}

.sena-map-tab.active {
    background-color: #32BBAC;
    color: #fff;
}

.sena-map-graphicmap img.graphic-map-img {
    z-index: 2;
    width: 100vw;
    height: auto;
    object-fit: contain;
    top: 0;
    left: 0;
}

.sena-map-graphicmap .ratio3by1 {
    padding-top: 30%;
}

.sena-map-graphicmap .ratio3by1 img {
    object-fit: contain !important;
}

.sena-map-marker {
    max-width: 263px;
    display: flex;
    justify-content: center;
}

.sena-map-logo {
    width: 35%;
    top: 20%;
}

@media only screen and (max-width: 576px) {
    .sena-map-tabwrap {
        width: 100%;
    }
    .sena-map-tab {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 15px 30px !important;
    }
}

.sena-reward_slide .slick-arrow {
	position: absolute;
	z-index: 8;
	margin: 0;
	top: 50%;
	background: rgba(0,0,0,0.6);
	border: 0;
	line-height: normal;
	color: #FFFFFF;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.sena-reward_slide .slick-prev { left: 20px; }
.sena-reward_slide .slick-next { right: 20px; }


.slick-track {
	display: flex;
}
.slick-slide {
	height: auto !important;
}

/* basic 3 cols */
.sena-border_left {
	border-left: 5px solid #32BBAC;
	height: fit-content;
}

/* privileges slide */
.sena-privileges--slider {
    margin: 0 -30px;
}

/* testimonial full slide */
.sena-circleimg {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sena-testimonial--slide .slick-dots {
    bottom: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.sena-testimonial--slide .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.sena-testimonial--slide .slick-dots button {
    margin: 0 6px;
    font-size: 0;
    height: 11px;
    width: 11px;
    padding: 0;
    border: 1px solid #807F7F;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: transparent;
}

.sena-testimonial--slide .slick-dots li.slick-active button:before, .sena-testimonial--slide .slick-dots li button:before,
.sena-testimonial--slide .slick-dots li button:hover:before, .sena-testimonial--slide .slick-dots li button:focus:before {
    opacity: 0;
}

.sena-testimonial--slide .slick-dots .slick-active button {
    background-color: #fff;
    border-color: #fff;
}

.sena-testimonial--slide img.bg-img {
    min-height: 700px;
    object-fit: cover;
}

.sena-project_detail--gallery_tab {
    font-size: 34px;
    padding: 0 40px;
    letter-spacing: 2px;
    line-height: 36px;
}

.sena-project_detail--gallery_tab a {
    color: #4A4A4A !important;
    position: relative;
    padding: 10px 0;
}

.sena-project_detail--gallery_tab a.active {
    /* color: #32BBAC !important; */
}

.sena-project_detail--gallery_tab a:before {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #32BBAC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    display: block;
    bottom: 0px;
    left: 50%;
}

.sena-project_detail--gallery_tab a.active:before {
    width: 100%;
}

@media only screen and (max-width: 425px) {
    .sena-project_detail--gallery_tab {
        font-size: 20px;
        padding: 0px 8px;
    }
}

.sena-testimonail--boxcard {
    width: 80%;
}

.sena-circleimg_lg {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.sena-testimonail--boxcard h2 {
    width: fit-content;
    position: relative;
}

.sena-testimonail--boxcard h2:before {
    content: "“";
    color: rgb(50, 187, 172);
    font-size: 70px;
    line-height: 0;
    margin-right: 1rem !important;
    position: absolute;
    top: 15px;
    left: -25px;
}

.sena-testimonail--boxcard h2:after {
    content: "”";
    color: rgb(50, 187, 172);
    font-size: 70px;
    line-height: 0;
    margin-right: 1rem !important;
    position: absolute;
    top: 15px;
}

@media only screen and (max-width: 767px) {
    .sena-testimonail--boxcard h2:before {
        left: -20px;
    }
}

.sena-cardplaceholder_img {
    height: 450px;
    object-fit: cover;
}

.sena-cardplaceholder_textbox {
    position: absolute;
    height: 55%;
    width: 70%;
    opacity: 0.85;	
    background-color: #FFFFFF;
}

.sena-cardplaceholder_textbox img {
    width: 105px;
}

.sena-cardplaceholder_text {
    max-width: 70%;
}

.sena-card_logo {
    /* width: 75px; */
    height: 45px;
}

.sena-history--card {
    padding: 0 150px;
}

.sena-history--slide {
    margin-left: -30px;
    margin-right: -30px;
}

.sena-history--slide .slick-slide {
    opacity: .3;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sena-history--slide .slick-current {
    opacity: 1;
}

.slick-prev {
    left: 20px;
}

button.slick-arrow {
    position: absolute;
    z-index: 8;
    margin: 0;
    top: 50%;
    background: rgba(0,0,0,0.6);
    border: 0;
    line-height: normal;
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-next {
    right: 20px;
}

@media only screen and (max-width: 1024px) {
    .sena-history--card {
        padding: 0 90px;
    }
}

@media only screen and (max-width: 576px) {
    .sena-history--card {
        padding: 0 50px;
    }
}

.content-list ul, .content-list--3cols ul {
    list-style: none;
    line-height: 1.1;
}

.content-list ul li, .content-list--3cols ul li {
    list-style: none;
}

.content-list ul li::before, .content-list--3cols ul li::before {
    color: #32BBAC;
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 36px;
}

@media only screen and (max-width: 767px) {
    .sena-list--content {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    .sena-list--content ul {
        max-width: 300px;
    }
}

@media only screen and (max-width: 375px) {
    .sena-list--content ul {
        max-width: 250px;
    }
}

.content-list--3cols ul {
    width: 80%;
    margin-left: 45px;
}

.sena-reward_card p {
    color: #4A4A4A;
}

.senahoc-cards--img img {
    width: 100%;
    height: auto;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.senahoc-cards {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    height: 100%;
    background-color: #ffffff;
    color: #4A4A4A;
}

.senahoc-cards--img {
    position: relative;
    overflow: hidden;
}

.senahoc-cards--img img {
    width: 100%;
    height: auto;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.senahoc-cards--tag {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #C6903C;
    font-size: 16px;
    justify-content: center;
}

.senahoc-tag--expires {
    background-color: #D0021B;
}

.senahoc-tag--only {
    background-color: #22B7AD;
}

.senahoc-cards--body {
    /* padding: 20px; */
    /* line-height: 1.5; */
}

.senahoc-cards--body a {
    color: #4A4A4A !important;
}

.senahoc-cards--projecttag {
    align-items: flex-start;
    height: 80px;
}

.senahoc-cards--projecttag img[src="https://demo.1palette.com/sena/wp-content/uploads/2019/09/PITI_01-1.svg"] {
    width: 50px;
}

.senahoc-cards--projecttag img {
    width: 60px;
    padding: 0 3px;
}

.sena-hhoc--slide {
    margin-left: -30px;
    margin-right: -30px;
}

.sena-hhoc--slide .slick-slide {
    /* padding: 11px; */
}

.sena-hhoc-privileges {
    background: linear-gradient(313.13deg, #947143 0%, #BCA17B 53.16%, #947142 100%);
    color: #fff;
}

.sena-hhoc-privileges a {
    color: #fff;
}

/* .sena-article--filter {
    height: 32px;
    padding: 20px;
    border-radius: 23px;
    background-color: #32BBAC;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
}

a.sena-article--filter {
    color: #fff !important;
}

.sena-article--filterwrap {
    overflow: auto;
}

a.sena-article--filter:hover {
    color: #fff !important;
} */

.sena-article--filter {
    height: 32px;
    padding: 20px;
    border-radius: 23px;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A4A4A;
    background-color: transparent;
}

.sena-article--filter.active {
    background-color: #32BBAC;
    color: #fff;
}

.sena-article--filter.active:hover {
    color: #FFFFFF !important;
}

.sena-article--filterwrap {
    overflow: auto;
}

.sena-magazine--card a img {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.sena-magazine--card a:hover img {
    transform: scale(1.1);
}

.sena-promotion_card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sena-promotion_card > div:last-child {
    flex-grow: 1;
}

.sena-article--select li {
    margin: 0 20px;
}

.sena-article--select li:first-child {
    margin-left: 0;
}

.sena-article--select a {
    color: #4A4A4A !important;
}

.sena-article--select a.active {
    color: #32BBAC !important;
}

.sena-article--select a:after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px solid #32bbac;
    transition: .5s;
}

.sena-article--select a.active:after {
    width: 100%;
}

.sena-privileges-badge div {
    position: relative;
}
.sena-privileges-badge div:nth-child(2)::before {
    content: "";
    position: absolute;
    /* bottom: -5px; */
    left: -26px;
    height: 35px;
    width: 1px;
    background-color: #DDDDDD;
}

@media only screen and (max-width: 767px) {
    .sena-privileges-badge div:nth-child(2)::before {
        left: -15px;
    }
    .sena-privileges-badge > div:nth-child(2) {
        margin-left: 1rem !important;
    }
}

@media only screen and (max-width: 375px) {
    .privileges-section .nav.nav-pills {
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start!important;
        height: 50px;
    }
}

.sena-privilege--date {
    color: #32BBAC;
}

.sena-privilege-detail .row > div:nth-child(2) {
    border-left: 1px solid #DDDDDD;
}

.sena-privilege-detail .sena-btn--secondary:hover {
    background-color: transparent;
}

@media only screen and (max-width: 991px) {
    .sena-privilege-detail .row > div:nth-child(2) {
        border: none;
    }
}

.sena-member--privileges img {
    width: 45px;
}

.sena-member--privileges a {
    color: #4A4A4A;
}

@media only screen and (max-width: 425px) {
    .sena-member--privileges img {
        width: 35px;
    }
}



.sena-testimonial--slide .sena-circleimg {
    width: 100px;
    height: 100px;
}

#sena-progress--condition .sena-ic--chevron-down {
    display: inline-block;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}
#sena-progress--condition a[aria-expanded="true"] .sena-ic--chevron-down {
    transform: rotate(180deg);
}

.sena-slide--projectlogo .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sena-slide--projectlogo .d-flex {
    margin: 0 20px;
}
.sena-slide--projectlogo img {
    width: 100%;
    /* max-height: 50px; */
}

.sena-slide--projectlogo .slick-prev {
    left: -10px;
}

.sena-slide--projectlogo .slick-next {
    right: -10px;
}

.sena-slide--projectlogo button.slick-arrow {
    width: 30px;
    height: 30px;
}

.sena-slide--projectlogo .sena-ic--chevron-left, .sena-slide--projectlogo .sena-ic--chevron-right {
    font-size: 12px;
}



.modal.modal-fullscreen {
    padding: 0 !important;
    background-color: #FFFFFF;
    z-index: 999999;
}
.modal.modal-fullscreen .modal-dialog {
    max-width: initial;
    width: 100%;
    margin: 0;
    height: 100%;
}
.modal.modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.modal.modal-fullscreen .sena-btn--modal {
    font-size: 20px;
    border: 0;
    background-color: #4a4a4a;
    color: #FFFFFF;
    width: 58px;
    height: 58px;
    position: fixed;
    margin: 14px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-4boxcontent img {
    max-height: 70vh;
    max-width: 100%;
    width: auto;
}
@media (min-width: 993px) {
    .sena-col--info {
        max-height: calc(100vh - 5.5rem);
        overflow: auto;
        font-size: 22px;
        /* color: #000000; */
    }
}


.sena-sharewrap [class^="sena-ic--"], .sena-sharewrap [class*=" sena-ic--"] {
    line-height: 2;
    letter-spacing: 1px;
}

#no-padding-bottom {
    padding-bottom: 0;
}



.col-6.sena-contentbox--notext .sena-grid--items {
    padding-top: 66.66%;
}
.col-12.sena-contentbox--notext .sena-grid--items {
    padding-top: 33.33%;
}
.sena-contentbox--notext .sena-grid--items-content {
    display: none;
}

.page-template-sena-search-result .sena-content-center {
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    .sena-article--filterwrap {
        white-space: nowrap;
        flex-wrap: nowrap;
        width: inherit !important;
        justify-content: inherit !important;
    }
    .sena-article--filter {
        margin: 0;
    }
}
