.sena-smartsearch {
    bottom: 0;
    z-index: 2;
    overflow: auto;
    white-space: nowrap;
}

.sena-smartsearch.search-result {
    bottom: unset;
    /* padding-top: 100px; */
}

.sena-smartsearch-tab {
    overflow: auto;
    white-space: nowrap;
}

.sena-smartsearch.search-result .sena-smartsearch-tab {
    background-color: #272727;
}

.sena-smartsearch--input {
    /* height: 62px; */
    width: 80%;
    border: none;
    border-radius: 31px;
    background-color: #fff;
    color: #000 !important;
    padding: 10px 50px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding-right: 90px;
}

.sena-banner .sena-smartsearch--input:hover {
    background-color: #fff !important;
}

/* .sena-smartsearch--input input {
    border: none;
    width: 100%;
    color: #32BBAC;
    height: 60px;
} */

.sena-smartsearch--input .sena-ic--search {
    position: absolute;
    left: 17px !important;
    color: #32BBAC;
    z-index: 5;
    font-size: 20px;
}

.sena-smartsearch--input .sena-ic--location-nearby {
    position: absolute;
    left: 91%;
    color: #32BBAC;
    z-index: 5;
    font-size: 20px;
}

.sena-smartsearch--input .sena-ic--voice-search {
    position: absolute;
    left: 95%;
    color: #32BBAC;
    z-index: 5;
    font-size: 20px;
}

.sena-smartsearch--input .sena-ic--location-nearby, .sena-smartsearch--input .sena-ic--voice-search {
    position: absolute;
    color: #32BBAC;
}

.sena-smartsearch--input .bootstrap-tagsinput {
    width: 100%;
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* max-height: 260px; */
    overflow: inherit;
}

.sena-smartsearch--input .bootstrap-tagsinput .tag {
    background-color: #32BBAC;
    color: #fff !important;
    display: inline-flex;
    height: 44px;
    padding: 0 30px;
    font-size: 22px;
    border: 1px solid #32BBAC;
    border-radius: 23px;
    justify-content: center;
    align-items: center;
    transition: .2s;
    margin-bottom: 4px;
}

.sena-smartsearch--input .bootstrap-tagsinput .tag [data-role="remove"]:hover, .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: none;
}

.sena-smartsearch--input .bootstrap-tagsinput input {
    height: 44px;
    flex-grow: 1;
    border: none;
    border-radius: 31px;
    background-color: #fff;
    color: #000 !important;
}

.sena-smartsearch-menu {
    font-size: 18px;
    cursor: pointer;
    transition: .2s;
}

.sena-smartsearch-menu.active, .sena-smartsearch-menu:hover {
    color: #32BBAC;
}

.sena-smartsearch-menu .sena-ic--chevron-down {
    font-size: 6px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.sena-smartsearch-menu.active .sena-ic--chevron-down {
    transform: rotate(180deg);
}

.collapsing {
    transition: height 0.6s;
}

.border-top {
    border-top: 1px solid #979797;
}

.sena-smartsearch-tagselection a {
    display: inline-flex;
    height: 44px;
    /* min-width: 133px; */
    font-size: 18px;
    padding: 0 20px;
    border: 1px solid #FFFFFF;
    border-radius: 23px;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    cursor: pointer;
}

.sena-smartsearch-tagselection a.active, .sena-smartsearch-tagselection a:hover {
    background-color: #FFFFFF;
    color: #000 !important;
    transition: .2s;
}

.sena-smartsearch-tagselected a {
    display: inline-flex;
    height: 44px;
    min-width: 133px;
    font-size: 18px;
    padding: 0 20px;
    border: 1px solid #32BBAC;
    border-radius: 23px;
    justify-content: center;
    align-items: center;
    color: #32BBAC !important;
    cursor: pointer;
    transition: .2s;
}

.sena-smartsearch-tagselected a:hover {
    border-color: #fff;
    color: #fff !important;
}

.sena-smartsearch-tagselected .sena-ic--cross {
    font-size: 10px;
}

.sena-btn--secondary {
    background-color: #32bbac;
    color: #ffffff !important;
    border-color: #32bbac !important;
    font-size: 18px;
    transition: .2s;
}

.sena-btn--outline {
    background-color: transparent;
    color: #fff !important;
    border-color: #fff !important;
    font-size: 18px;
    transition: .2s;
}

.sena-btn--outline:hover {
    color: #32bbac !important;
    border-color: #32bbac !important;
}

.sena-btn--secondary .sena-ic--search {
    font-size: 16px;
}

/* .sena-banner .sena-ic--search{
    position: absolute;
    top: 37%;
    left: 12%;
    color: #fff;
    font-size: 18px;
} */

@media only screen and (max-width: 768px) {
    /* .sena-banner .sena-ic--search {
        left: 14%;
    } */
}

@media only screen and (max-width: 425px) {
    .sena-banner .sena-ic--search {
        left: 9%;
    }
    .sena-smartsearch--input {
        /* height: 50px; */
        width: 90%;
        padding: 0 40px;
        font-size: 16px;
    }
    .sena-banner .sena-ic--search {
        font-size: 15px;
    }
    .sena-smartsearch--input .sena-ic--location-nearby {
        left: 82%;
    }
    .sena-smartsearch--input .sena-ic--voice-search {
        left: 90%;
    }
    .sena-smartsearch--input .sena-ic--search {
        left: 5%;
    }
}

@media only screen and (max-width: 375px) {
    .sena-smartsearch--input .sena-ic--location-nearby {
        left: 76%;
    }
    .sena-smartsearch--input .sena-ic--voice-search {
        left: 87%;
    }
}

/* search input page */

.sena-search-input_section .sena-smartsearch--input {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    color: #32BBAC !important;
}

.sena-search_recentwrap {
    display: none;
}

.sena-search-input_section .sena-smartsearch--input::placeholder {
    color: #C2C2C2;
}

.sena-search-input_section .sena-ic--search {
    position: absolute;
    top: 53%;
    left: 3%;
    color: #32BBAC;
    font-size: 18px;
}

.sena-search-input_section>.sena-containerinner>.sena-ic--cross {
    position: absolute;
    font-size: 18px;
    color: #fff;
    top: 51%;
    right: -35px;
    cursor: pointer;
    transition: .2s;
}

.sena-search-input_section .sena-ic--cross:hover {
    color: #32BBAC;
}

@media only screen and (max-width:1024px) {
    .sena-search-input_section .sena-containerinner {
        width: 85%;
    }
}

@media only screen and (max-width: 576px) {
    .sena-search-input_section .sena-containerinner {
        width: 75%;
    }
}

@media only screen and (max-width: 425px) {
    .sena-search-input_section .sena-smartsearch--input {
        height: auto;
        padding: 0 40px;
        font-size: 16px;
    }
    .sena-search-input_section .sena-smartsearch--input input {
        height: 50px;
    }
    .sena-search-input_section .sena-ic--search, .sena-search-input_section>.sena-containerinner>.sena-ic--cross {
        font-size: 15px;
        top: 53%;
    }
}

.sena-search_recent {
    max-width: 100%;
    list-style-type: none;
    z-index: 999;
}

.sena-cancel_focus {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.sena-search_recent a {
    color: #807F7F !important;
}

.sena-search_recent li {
    /* padding: 25px 0; */
    border-bottom: 1px solid #DDDDDD;
    transition: .2s;
    height: 80px;
}

.sena-search_recent li:first-child {
    background-color: #32BBAC;
    border-bottom-color: #32BBAC;
    color: #fff;
}

.sena-search_recent li:not(:first-child):hover {
    background-color: #FDFCFC;
}

.sena-search_recent li a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sena-search_recent li:first-child a {
    color: #fff !important;
}

.sena-search_recent li div {
    max-width: 992px;
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .sena-search_recent li div {
        max-width: 90%;
    }
}

@media only screen and (max-width: 425px) {
    .sena-search_recent li {
        height: 60px;
    }
}

.sena-search-input_section .sena-smartsearch-tagselected a {
    background-color: #32BBAC;
    color: #fff !important;
}

.sena-search-input_section .sena-smartsearch-tagselected a:hover {
    background-color: #32BBAC;
    color: #fff !important;
    border: #32BBAC;
}

.sena-search-input_section .sena-smartsearch-tagselected .sena-ic--cross:hover {
    color: #fff;
}

.sena-suggesttag {
    border-bottom: 6px solid #DDDDDD;
}

.sena-suggesttag_section .sena-smartsearch-tagselected a:hover {
    background-color: #32BBAC;
    color: #fff !important;
    border-color: #32BBAC;
}

.sena-search--button {
    display: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.sena-bg-transparent {
    background-color: transparent !important;
}

.sena-home-smartsearch {
    bottom: 0;
    z-index: 2;
}

.sena-home-smartsearch .bootstrap-tagsinput, .sena-home-smartsearch .bootstrap-tagsinput input {
    background-color: transparent;
}

.sena-smartsearch--input .bootstrap-tagsinput .tag [data-role="remove"]::after {
    content: "\e902";
}

.sena-smartsearch--input .bootstrap-tagsinput .tag [data-role="remove"] {
    font-family: 'senaiconfont' !important;
    font-size: 8px;
}

@media only screen and (max-width: 1024px) {
    .sena-smartsearch--input .bootstrap-tagsinput input {
        height: 35px;
    }
    .sena-smartsearch--input .bootstrap-tagsinput input {
        height: 35px;
        padding: 0 20px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    .sena-smartsearch--input {
        padding: 10px 35px;
        padding-right: 60px;
    }
    .sena-banner .sena-ic--search {
        left: 7%;
    }
}

@media only screen and (max-width: 425px) {
    .sena-smartsearch--input {
        padding-right: 75px;
    }
}

/* Voice */
.sena_voice-bg {
    display: none;
    background: #000000d0;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    z-index: 99999;
}
.sena_voice-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #222032;
    z-index: 11;
}

.sena_voice-text {
    position: absolute;
    z-index: 6;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.sena_voice-object {
    display: flex;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.sena_voice-outline {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 0px solid #32BBAC;
    animation: sena_voice-pulse 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    position: absolute;
}

.sena_voice-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #32BBAC;
    /* 	box-shadow: 0px 0px 80px #0084F9; */
    position: absolute;
}

@keyframes sena_voice-pulse {
    0% {
        transform: scale(0);
        opacity: 0;
        border: 5px solid #32BBAC;
    }
    50% {
        border: solid #32BBAC;
        opacity: 0.8;
    }

    90% {
        transform: scale(1.2);
        opacity: 0.2;
        border: 3px solid #32BBAC;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
        border: 1px solid #32BBAC;
    }
}

#sena_voice-delayed {
    animation-delay: 1.5s;
}

#sena_voice-circlein {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.sena_voice-mic-icon {
    height: 20px;
    position: absolute;
    margin: 10px;
}




@media (max-width: 992px) {
    .sena-smartsearch-tagselection {
        padding: 15px !important;
        max-height: 260px;
        overflow: auto;
    }
    .sena-smartsearch-tagselection a {
        height: 30px;
        padding: 0 10px;
    }
    .sena-smartsearch--input .bootstrap-tagsinput .tag {
        height: 30px;
        padding: 0 10px;
        font-size: 18px;
    }
    .bootstrap-tagsinput {
        max-height: 150px;
        overflow: auto;
        padding-left: 20px;
        line-height: 1;
    }
}





.twitter-typeahead {
    width: 100%;
}
.tt-menu {
    position: absolute;
    top: calc(100% + 2.1rem) !important;
    left: 0px;
    z-index: 100;
    width: 100%;
    background: #ffffff;
    padding: 1.5rem 0;
    max-height: 300px;
    -webkit-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.45);
}
.twitter-typeahead input {
    width: 100% !important;
    letter-spacing: 1.29px;
}
.tt-suggestion.tt-selectable {
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.tt-suggestion.tt-selectable strong {
    font-weight: 500;
    text-decoration: underline;
}
.tt-suggestion.tt-selectable:hover {
    background-color: #32BBAC;
    color: #ffffff;
}
