@font-face {
  font-family: 'gwic';
  src:  url('fonts/gwic.eot?t89wnl');
  src:  url('fonts/gwic.eot?t89wnl#iefix') format('embedded-opentype'),
    url('fonts/gwic.ttf?t89wnl') format('truetype'),
    url('fonts/gwic.woff?t89wnl') format('woff'),
    url('fonts/gwic.svg?t89wnl#gwic') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gw-ic--"], [class*=" gw-ic--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gwic' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gw-ic--chevron-down:before {
  content: "\e904";
}
.gw-ic--spriral:before {
  content: "\e903";
}
.gw-ic--cross:before {
  content: "\e902";
}
.gw-ic--chevron-left:before {
  content: "\e900";
}
.gw-ic--chevron-right:before {
  content: "\e901";
}
